<html>
    <head><title>Home</title>
        <%- include('./partials/style.ejs') %></head>

    <body>
        
<script>
    function changeSort() {
        const selectedSort = document.getElementById('sort').value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('sort', selectedSort);
        window.location.href = `/?${urlParams.toString()}`;
    }
</script>
        <div class="main-content">
            <div class="controls-container">
                <div class="sort-blogs">
                    <label for="sort">Sort by:</label>
                    <select name="sort" id="sort" onchange="changeSort()">
                        <option value="createdAt" <% if (sort === 'createdAt') { %> selected <% } %>>Date</option>
                        <option value="title" <% if (sort === 'title') { %> selected <% } %>>Title</option>
                    </select>
                </div>
        
                <form action="/" method="GET" class="search-box">
                    <input type="text" name="search" placeholder="Search blogs...">
                    <button type="submit" class="primary">Search</button>
                </form>
            </div>
        
    

        <%- include('./partials/topbar.ejs') %>
        
        <% if (blogData && blogData.length > 0) { %>
            <% for (let i = 0; i < blogData.length; i++) { %>
                <div class="blog-card">
                    <div name="title" class="blog-title"><strong><%= blogData[i].title %></strong></div><br/>
                <div name="body" class="blog-body"><%= blogData[i].body  %>...</div>
                

                
                
                </div>
            <% } %>
        <% } else { %>
            <p>No blogs found.</p>
        <% } %>

        <div class="pagination">
            <% for(let i=1; i<= pages; i++) { %>
                <a href="/?page=<%=i%>&sort=<%=sort%>&search=<%=search%>" <% if( i == current) { %> class="activePage" <% } %> > <%=i%> </a>
            <% }  %>
        </div>
    </body>
</html>